* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
    
}

body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  padding: 10px;
  color: white;
}

/* Layout */
.layout {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
}

.sidebar, .tasks-area {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.control-wrapper{
  display: flex; 
  margin-bottom: 20px; 
  justify-content:center; 
  gap: 100px; 
}

.title {
  margin-bottom: 20px;
  font-size: 18px; 
}

/* 🔥 EINHEITLICHES TILE SYSTEM */
.tile {
  width: 100%;
  padding: 20px;
  text-align: left;

  background: #1a1a1a;
  color: white;

  border: none;
  border-left: 5px solid #ef4444;

  font-size: 12px;
  line-height: 1.4;

  cursor: pointer;
  transition: 0.2s;

  clip-path: polygon(
    12px 0,
    100% 0,
    100% calc(100% - 12px),
    calc(100% - 12px) 100%,
    0 100%,
    0 12px
  );
}

/* Hover */
.tile:hover {
  background: #374151;
  transform: translateX(5px) scale(1.02);
}

/* Mission active */
.mission-tile.active {
  background: #991b1b;
  border-left-color: #f87171;
}

/* Task completed */
.task-tile.completed {
  text-decoration: line-through;
  opacity: 0.6;
  border-left-color: #22c55e;
}

/* Clickable tasks */
.task-tile.clickable:hover {
  background: #334155;
}

/* Hidden */
.hidden {
  display: none;
}

/* Modal */
.modal {
  position: fixed;
  inset: 0;
  background: #1a1a1a;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal:not(.hidden) {
  display: flex;
}

.modal-box {
  width: 520px;
  background: #1a1a1a;
  border: 2px solid #374151;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#close-modal {
   font-size: clamp(10px, 3vw, 20px);
  
  padding: 0.8em 1.2em;
  margin-bottom: 1rem;
  

  background: #1a1a1a;
  border: 1px solid #444;
  color: #ddd;

  cursor: pointer;
  transition: 0.2s;
}

#close-modal:hover {
  background: #B33A3A;
  color: black;
}
