* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}

body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  padding: 10px;
  color: white;
}

/* Layout */
.layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
 
}

.sidebar, .tasks-area {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
 
  
}

#hint-sidebar{
  margin-bottom: 50px; 
}

.control-wrapper{
  display: flex;
  margin-bottom: 20px; 
  
  gap: 10px; 
}

.mission-wrapper{
  width: 50%;
  
  display: flex;
  flex-wrap:wrap; 
  justify-content: center; 
  
  background: #1b2634; 
}

.up-left, .up-right{
  padding-top: 5px; 
  border-top: 2px solid #3f536d;
}

.up-right{
 
  
  border-right: 2px solid #3f536d;
  border-bottom: 2px solid #3f536d;
  
  border-bottom-right-radius: 20px;
}

.up-left, .low-left{
  border-left: 2px solid #3f536d;
}

.low-left{
  
  
  border-bottom: 2px solid #3f536d;
  border-right: 2px solid #3f536d;

  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.contamination-wrapper{
  width: 50%;
  
  display: flex;
  flex-wrap:wrap; 
  justify-content: center; 
}


.task-wrapper{
  
  padding-top: 10px; 
  
  margin-bottom: 20px; 
  
  width: 50%;
  
  display: flex;
  flex-wrap:wrap; 
  justify-content: center; 
  align-content: flex-start;
  
  background: #1b2634; 
}

.left{
  border-top: 2px solid #3f536d;
  border-left: 2px solid #3f536d;
  border-bottom: 2px solid #3f536d;
}

.right{
   border-top: 2px solid #3f536d;
  border-right: 2px solid #3f536d;
  border-bottom: 2px solid #3f536d;
}

.hint-wrapper{
  width: 50%;
  
  padding-top: 10px; 
  
  display: flex;
  flex-wrap:wrap; 
  justify-content: center; 
  
  background: #1b2634; 
  
}

.button-wrapper{
  display: flex; 
  gap: 15px; 
  justify-content: center; 
   
}



.title {
  
  flex: 0 0 100%;
  
  margin-bottom: 10px; 

  
  font-size: 18px; 
  color: #F5F1E8;
  text-shadow:
    0 0 10px rgba(0,0,0,0.8),
    0 0 20px rgba(0,0,0,0.6);
  
  text-align: center; 
}

/* 🔥 EINHEITLICHES TILE SYSTEM */
.tile {
  width: 90%;
  padding: 15px;
  margin: 5px 0 10px 0; 
  text-align: left;

  background: #1a1a1a;
  color: #F5F1E8;

  border: 2px solid #374151; 


  font-size: 12px;
  line-height: 1.4;

  cursor: pointer;
  transition: 0.2s ease;

}



/* Hover */
.tile:hover {
  transform: scale(1.05);
  border-color: #A8D8FF;
  box-shadow:
    0 0 10px rgba(168, 216, 255, 0.3),
    0 0 20px rgba(179, 58, 58, 0.2);
}

.nohover {
  cursor: default;
  pointer-events: none;
}

.rescue-btn{
  width: 90%;
}




.control-button{
  width: 150px; 
  text-align: center;
}




#contamination-event {
    background-image: url("https://s1.directupload.eu/images/260627/jrrocsw3.png");
  background-repeat: no-repeat;

  background-size: 40px;

  /* 15px Abstand vom rechten Rand */
  background-position: right 2px center;

  background-color: #0e0e0d;

  width: 90%;
  height: 70px; 
 
  border: 2px solid #D8B400; 
 
  clip-path: polygon(
    32px 0,
    100% 0,
    100% 100%,
    0 100%,
    0 32px
  );
  
  
}

@media (hover: hover) {
  #contamination-event:hover {
    transform: scale(1.05);
    border-color: red;
    box-shadow:
      0 0 10px rgba(168, 216, 255, 0.3),
      0 0 20px rgba(179, 58, 58, 0.2);
  }
}





/* Mission active */
.mission-tile.active {
    background: #243B53;
   border-color: #5FA8D3;
   color: #EAF4FF;
  
  
}

#contamination-event.active{
   
   border-color: red;
   color: #EAF4FF;
  
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.event-sidebar{
  
  display:flex; 
  flex-wrap: wrap; 
  
  gap: 10px; 
  
  justify-content: center; 
  
  
}

.event-tile
{
  width: 45%;
  
}

.task-tile{
  height: 50px; 
  display: flex;
  align-items: center; 
}

#contamination-task {
   height: 80px; 

}

/* Task completed */
.task-tile.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

/* Clickable tasks */
.task-tile.clickable:hover {
  background: #334155;
}

.hint-tile{
  height: 50px; 

  
}

/* Hidden */
.hidden {
      display: none; 
}


/* Modal */
.modal {
  position: fixed;
  inset: 0;
  background: #1a1a1a;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#reset-modal{
  z-index: 9999;
}

#resetBtn{
  width: 90%;
  margin: 0 auto; 
}

.modal:not(.hidden) {
  display: flex;
}

.modal-box {
  width: 520px;
  color: #F5F1E8;
  background: #1a1a1a;
  border: 2px solid #374151;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#close-modal {
   font-size: clamp(10px, 3vw, 20px);
  
  padding: 0.8em 1.2em;
  margin-bottom: 1rem;
  

  background: #1a1a1a;
  border: 2px solid #374151; 
  color: #F5F1E8;

  cursor: pointer;
  transition: 0.2s ease;
  letter-spacing: 1px;
}

#close-modal:hover {
  transform: scale(1.05);
  border-color: #A8D8FF;
  box-shadow:
    0 0 10px rgba(168, 216, 255, 0.3),
    0 0 20px rgba(179, 58, 58, 0.2);
}


#accept-reset-modal, #close-reset-modal, #close-option-modal{
  
  width: 45%;
  
  font-size: clamp(10px, 3vw, 20px);
  
  padding: 0.8em 1.2em;
  margin-bottom: 1rem;
  

  background: #1a1a1a;
  border: 2px solid #374151; 
  color: #F5F1E8;

  cursor: pointer;
  transition: 0.2s ease;
  letter-spacing: 1px;
}

#accept-reset-modal:hover, #close-reset-modal:hover, #close-option-modal:hover{
  transform: scale(1.05);
  border-color: #A8D8FF;
  box-shadow:
    0 0 10px rgba(168, 216, 255, 0.3),
    0 0 20px rgba(179, 58, 58, 0.2);
}




#reset-title{
  text-align: center; 
}


.option-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
    color:#d9f9ff; /* passend zu deinem Neon-Stil */
    font-size:1rem;
}

.option-row input[type="checkbox"]{
    width:20px;
    height:20px;
    cursor:pointer;
}

.option-row input[type="checkbox"]{
    width:20px;
    height:20px;
    accent-color:#71f6ff;
    cursor:pointer;
}



.navigator{
  position: fixed;
    right: 20%;
    bottom: 15%;
    z-index: 9999;
  
}

.navigator button{
    position: absolute;

    width:60px;
    height:60px;

    border-radius:50%;
    border:1px solid #374151;

    cursor:pointer;

    font-size:22px;

    transition:.35s;
}

.nav-main{
    background: #1f1f1f;
    color:white;
    z-index:2;
  
}

.nav-item{

    background:#2a2a2a;
    color:white;

    opacity:0;
    pointer-events:none;

    transform:translate(0,0) scale(.5);
}



.navigator.open .nav-item{
    opacity:1;
    pointer-events:auto;
}

/* links */

.navigator.open .nav-1{
    transform:translate(-85px,0);
  
     background-image: url("https://s1.directupload.eu/images/260707/hukb9nin.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: 100%;
}

/* links oben */

.navigator.open .nav-2{
    transform:translate(-60px,-60px);
  
     background-image: url("https://s1.directupload.eu/images/260707/547xp2wi.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: 100%;
}

/* oben */

.navigator.open .nav-3{
    transform:translate(0,-85px);
  
     background-image: url("https://s1.directupload.eu/images/260708/plqe8yog.png");
     background-repeat: no-repeat;
     background-position: center;
     background-size: 200%;
}

/* Hover */

.navigator button:hover{

    transform:scale(1.08);
}

.navigator.open .nav-1:hover{
    transform:translate(-85px,0) scale(1.08);
}

.navigator.open .nav-2:hover{
    transform:translate(-60px,-60px) scale(1.08);
}

.navigator.open .nav-3:hover{
    transform:translate(0,-85px) scale(1.08);
}


