*{
  box-sizing: border-box;
  border: 1px solid red; 
}

html {
  font-size: 16px;
}

body {
  
  margin:0;
  background:#050505;
  font-family:Arial, Helvetica, sans-serif;
  color:white;

  display:flex;
  justify-content:center;
  align-items:center;
}


/* Layout */
.app {
  width:min(95vw, 700px);
  margin: auto;
  padding: 20px;
  text-align: center;
}

/* Titel */
h1 {
  color: #ff3b3b;
  letter-spacing: 3px;
  text-shadow: 0 0 10px red;
  margin-bottom: 20px
  
}


/* Controls */
.controls {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
}

.row-players label,
.row-players input {
  font-size: 20px;
}

input {
  padding: 8px;
  margin-top: 5px;
  width: 60px;
  
  text-align: center;
  background: #111;
  color: #fff;

}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

.playerCount{
  display: flex; 
  justify-content: center;
  
}

.playerCount div{
  background: #1a1a1a;
  border: 1px solid #444;
  color: #ddd;

  cursor: pointer;
  transition: 0.2s;
  padding: 1.4em 1.6em;

  margin: 20px 10px; 
  
  font-size: clamp(10px, 3vw, 20px);

}

.playerCount div:hover{
  background: #B33A3A;
  border: 1px solid #B33A3A; 
  color: black;
  
  cursor: pointer; 
}


.player.active{
    background: #B33A3A;
    color: black;

}




/* Buttons */
button {
  font-size: clamp(10px, 3vw, 20px);
  
  padding: 0.8em 1.2em;
  margin-bottom: 1rem;
  

  background: #1a1a1a;
  border: 1px solid #444;
  color: #ddd;

  cursor: pointer;
  transition: 0.2s;
}


.btn-primary {
  font-size: clamp(10px, 3vw, 20px);
  margin-bottom: 2rem;
}

button:hover {
  background: #B33A3A;
  color: black;
}


/* Modal */
#modal, #modalFill{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;
}

/* ModalManually */
#modalManually {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;
}

#modalManually .modal-content {
  max-height: 90vh;
  overflow-y: auto;
  width: min(500px, 90vw);
  padding: 20px;
}



#modalManually label {
   margin-top: 4px;
   font-size: clamp(10px, 3vw, 20px);
   display:block;


  
}

#modalManually input {
  padding: 4px;
  font-size: clamp(10px, 3vw, 20px);
  
  width: 50%;
  margin: 10px auto;
}

#modalManually span {
    display:inline-block;
  
    padding: clamp(5px, 3vw, 5px) clamp(5px, 3vw, 20px); 
  
    margin: 0 10px; 
    
    font-size: clamp(25px, 5vw, 40px);

  
   cursor:pointer;
     
}

#modalManually span:hover {
   color: red; 
  border: 1px solid red; 
   
}

/* WICHTIG: hidden muss stärker sein */
#modal.hidden {
  display: none !important;
}

#modalFill.hidden {
  display: none !important;
}

#modalManually.hidden {
  display: none !important;
}

#players.hidden {
  display: none !important;
}

.modal-content {
   width: 90%;
  font-size: clamp(16px, 3vw, 30px);

  background: #111;
  border: 1px solid #B33A3A;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 20px red;
}

.modal-content p {
  margin-bottom: 20px;
  
}

.modal-content input {
  font-size: 30px;
 
}


.modal-buttons button {
  font-size: clamp(10px, 3vw, 20px);

  max-width: 100%;
 

}

.danger {
  background: #550000;
}

.danger:hover {
  background: #ff0000;
}


#bag ul{
  list-style: none;
  padding: 0;
  margin: 0;
}


/* MODALSPIN */

.modalSpin{
  position:fixed;
  inset:0;
  

  

  background:rgba(0,0,0,0.92);

  display:flex;
  justify-content:center;
  align-items:center; 
 

  opacity:0;
  pointer-events:none;

  transition:0.3s;
  z-index: 9999;
}

.modalSpin.active{
  opacity:1;
  pointer-events:all;
}

/* SPINCONTENT */

.modalSpin-content{
  width: 100%;
  max-height: 100%; 
 

  padding: clamp(5px, 1vw, 40px);

  background:#111;

  border:2px solid #A8D8FF;

  border-radius:20px;

  box-shadow:
    0 0 40px rgba(0,180,255,0.3);

  position:relative;
  overflow-y: auto;
}


/* CLOSE */

.closeSpin-btn{
  position:absolute;

  
  right:20px;

  font-size:28px;

  cursor:pointer;

  color:#999;
}

.closeSpin-btn:hover{
  color:white;
}


/* TOKEN GRID */

.token-grid{
    max-height: 100%; 
  
    display: grid;

    grid-template-columns:
      repeat(auto-fit, clamp(2px, 25vw, 140px));
  

    gap: 15px;
    padding: 30px 0; 
      
    justify-content: center; 
  
}

/* TOKEN */

.token{
  width: clamp(2px, 25vw, 140px);
  height: clamp(2px, 25vw, 140px);
  
  font-size: clamp(2px, 4vw, 32px);

  margin:auto;

  position:relative;

  transform-style:preserve-3d;

  transition:0.6s;

  cursor:pointer;
}

.top-bar {
  position: relative;
  height: 40px;
   

}

/* DREHUNG */

.token.flipped{
  transform:rotateY(180deg);
  }

.token.flippedFirst{
  transform:rotateY(180deg);
   box-shadow:
    0 0 10px red,
    0 0 25px red,
    0 0 50px darkred;
    border-radius:50%;

}

/* VORDER- UND RÜCKSEITE */

.token-face{
  position:absolute;
  inset:0;

  border-radius:50%;

  backface-visibility:hidden;

  overflow:hidden;

  display:flex;
  justify-content:center;
  align-items:center;
}

/* RÜCKSEITE */

.token-back{
  background:
    radial-gradient(circle at 30% 30%, #222, #000);

  border:4px solid #A8D8FF;

  color:#A8D8FF;

  font-size:60px;

  box-shadow:
    0 0 20px rgba(0,180,255,0.4);
}

/* VORDERSEITE */

.token-front{
  transform:rotateY(180deg);

  border:4px solid white;
}

.token-front img{
  width:100%;
  height:100%;

  object-fit:cover;
}


.encounter-panel{
    position:relative;
    max-width:900px;
    margin:auto;
   
    background:
        radial-gradient(circle at center,
        rgba(80,0,0,.25),
        rgba(0,0,0,.95));
  
    border: 2px solid #B33A3A; 
     border-radius: 10px;

}

/* ---------------- */
/* Zug              */
/* ---------------- */

.turn-counter{
    font-family: Bahnschrift, "Arial Narrow", sans-serif;
    letter-spacing: 5px;
  
    position:absolute;
    top:5px;
    right:20px;

    padding:10px 20px;


    color: #B33A3A;

    font-size:clamp(16px, 5vw, 32px);

    font-weight:bold;

  
  
}

/* ---------------- */
/* Alarm            */
/* ---------------- */

.alert-header{
  margin-top: clamp(60px, 12vw, 110px);

  text-align: center;

  color: #B33A3A;

  font-size: clamp(20px, 7vw, 40px);

  letter-spacing: clamp(1px, 0.5vw, 3px);

  text-shadow: 0 0 20px red;

  animation: pulse 2s infinite;
}

@keyframes pulse{

    0%{
        opacity:0.8;
    }

    50%{
        opacity:1;
    }

    100%{
        opacity:0.8;
    }
}

/* ---------------- */
/* Alien            */
/* ---------------- */


.enemy-token{

    display:flex;
    justify-content:center;

    margin-top:30px;
}

.enemy-token img{

    width:clamp(120px, 40vw, 300px);
    height:clamp(120px, 40vw, 300px);

    object-fit:cover;

    border-radius:50%;

    border:4px solid white;

    box-shadow:
    0 0 15px #B33A3A,
    0 0 40px rgba(179, 58, 58, 0.4),
    0 0 80px rgba(179, 58, 58, 0.2);
}

/* ---------------- */
/* Licht / Dunkel   */
/* ---------------- */

.stats{
     

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:5px;

    margin-top:40px;
}

.stat-box{

    position:relative;
  
    font-size:20px;
  
}

.stat-box img{
    width:100%;
    height:auto;
}



.light{

    color: #DBC29A;

    text-shadow:
    0 0 4px rgba(219,194,154,.6),
    0 0 10px rgba(219,194,154,.3);
}

.dark{

    color: #A8D8FF;

text-shadow:
    0 0 4px rgba(168,216,255,.8),
    0 0 8px rgba(120,190,255,.5),
    0 0 16px rgba(120,190,255,.25);
}

.value{
    position:absolute;
  
    left:72%;
    top:5%;
  
    font-size:clamp(25px, 10vw, 65px);
    font-weight:bold;
}

/* ---------------- */
/* Ereignis         */
/* ---------------- */

.event-banner{
  
    box-sizing:border-box;
  
    width: 100%;
    height: auto; 

    margin-top:35px;

    padding:18px;

    text-align:center;

    font-size: clamp(14px, 10vw, 50px);

    font-weight:bold;

    color: #B33A3A;

    background:
    linear-gradient(
        90deg,
        transparent,
        rgba(179, 58, 58, 0.35),
        transparent
    );

    text-shadow:
    0 0 8px rgba(179, 58, 58, 0.8),
    0 0 20px rgba(179, 58, 58, 0.4);
}


/* ---------------- */
/* Beutel           */
/* ---------------- */

.bag-section{

    margin-top:50px;

    padding:25px;

    border:1px solid rgba(255,0,0,.3);

    box-shadow:0 0 20px rgba(255,0,0,.15);
}

.bag-section h2{
   text-align:center;

    color: #B33A3A;
}

#bag{
   text-align:left;

   font-size:20px;

   color: #B33A3A;
}

#bag-wrapper{
   display:flex;
    justify-content:center;
    align-items:center;
   
}


